#############################
# Root .gitignore
#############################

# Node / React
node_modules/
frontend/build/
*.log

# Env files
.env
.env.*
backend/.env

# Android / Gradle
**/local.properties
**/gradle.properties.personal
**/build/
**/.cxx/
**/.gradle/
**/captures/

# OS / IDE
*.iml
.idea/
.DS_Store
Thumbs.db

# Archives
*.zip
*.tar
*.tar.gz

# Others
dist/
